/* Style for the flashcard class. */
.flashcard {
    -fx-background-radius: 10px;
    -fx-background-color: -color-accent-subtle;
    -fx-alignment: center;
    -fx-font-size: 36px;
}

/* Style for labels nested under the flashcard class. */
.flashcard .label {
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-text-fill: -color-accent-fg;
}

.flashcard .ikonli-font-icon {
    -fx-icon-color: -color-accent-fg;
}

.correctAnswer {
    -fx-background-color: -color-success-muted;
    -fx-background-insets: -3px;
    -fx-background-radius: 5px;
}

.correctAnswerCell {
    -fx-background-color: -color-success-muted;
}

.tableGrid .cell {
    -fx-border-color: -color-accent-fg;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-insets: -1px;
}